

.p-box01__title {
  background: #fff;
  border: 1px solid #111;
  border-radius: 32px;
  padding: rem(8) rem(25);
  margin-left: rem(38);
  display: inline-block;
}

.p-box01__text {
  padding: rem(44) rem(22) rem(34);
  border: 1px solid #111;
  margin-top: rem(-20);
}
