

.p-sub-contact__text {
  font-size: rem(14);
  line-height: 1.7;
  letter-spacing: 0.04em;
}



.p-sub-contact__contents {
  margin-top: rem(50);
}

.p-sub-contact__content + .p-sub-contact__content {
  margin-top: rem(40);
}

.p-sub-contact__head {
  display: flex;
  align-items: center;
}

.p-sub-contact__title {
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.04em;
  font-weight: bold;
  margin-right: rem(10);

}

.p-sub-contact__required {
  font-size: rem(12);
  line-height: 1;
  padding: rem(3) rem(5);
  background-color: #333;
  color: #fff;
}

.p-sub-contact__item {
  margin-top: rem(10);
}
