

.p-topics__items {
  margin-top: rem(30);
  @include mq(tab){
    max-width: rem(700);
    width: 100%;
    margin-left: auto;
  }
}

.p-topics__btn {
  margin-top: rem(30);
  @include mq(tab){
    text-align: right;
  }
}
