.l-top-bgGray {
  background-color: #F0F0F0;
  padding-top: rem(40);
  padding-bottom: rem(40);
  position: relative;
  z-index: -10;
  @include mq(tab){
    padding-top: rem(180);
    padding-bottom: rem(60);
    margin-top: rem(-100);
  }
}

.l-top-bgGray__inner {
  @include mq(tab){
    display: flex;
    max-width: rem(1140);
    padding: 0 rem(20);
    margin-left: auto;
    margin-right: auto;
  }
}
