.c-btn {
  font-family: $font-family-sub;
  font-size: rem(11);
  letter-spacing: 0.015em;
  line-height: 1;
  font-weight: 500;
  background-color: #000000;
  padding: rem(11) rem(44);
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
