.c-section-title {
  font-family: $font-family-sub;
  font-size: rem(28);
  letter-spacing: 0.068em;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  @include mq(tab){
    font-size: rem(32);
  }
}
